html {
  box-sizing: border-box;
  font-size: 12pt; 
  font-family: Arial;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.gCol { color: mediumblue; }
.eCol { color: firebrick; }
.nCol { color: grey; }

input {
    max-width: calc(100% - 5px);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 3px 4px;
/* 
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
 */
}

button, .button {
    display: inline-block;
    border: none;
    padding: 4px 6px;
    margin: 4px;
    border-radius: 6px;
    text-decoration: none;
    background: #eee;
    color: #336;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background 150ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #87aacc;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

div#table_container {
    min-width: 1250px;
    padding-top: 10px;

}

.header-span {
    border-left: none;
    border-right: none;
}

#apoc6_eq_table {
    position: relative;
    border-collapse: collapse;
/*         border: 1px solid #999; */
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.apoc6eq td, th {
    border: 1px solid #999;
}

.apoc6eq td div, .apoc6eq th div {
    padding: 5px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.apoc6eq td div, {
    position:relative;
}

.apoc6eq td div:hover, .apoc6eq th div:hover {
    position:relative;
    z-index: 1;
    width: auto;
    overflow: visible;
    background: #aac;
    opacity: 1;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 4px;
}

#apoc6_eq_table caption {
    z-index:100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #666;
    color: #eee;
    padding: 10px;
    text-align: left;
}

#apoc6_eq_table caption h1 {
    display: inline-block;
    font-size: 1.5em;
    margin:0;
}

#apoc6_eq_table caption span.item-count {
    margin-left: 10px;
    font-size: .85em;
}

#apoc6_eq_table caption div#table-controls {
    float: right;
}

#apoc6_eq_table caption div#column-toggles {
    position: absolute;
    top: 50px;
    right: 125px;
    z-index: 100;
    color: #333;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,.6);
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 100px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
}

#apoc6_eq_table caption div#column-toggles:target {
    opacity:1;
    pointer-events: auto;
}

/* Popup arrow */
#apoc6_eq_table caption div#column-toggles::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-top:-10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.close {
	background: #999;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	left: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px rgb(0,0,0,0.6);
	-webkit-box-shadow: 1px 1px 3px rgb(0,0,0,0.6);
	box-shadow: 1px 1px 3px rgb(0,0,0,0.6);
}


#apoc6_eq_table caption div#column-toggles div {
    display: block;
    min-width: 100px;
    margin: 0;
    
}

#apoc6_eq_table caption div#column-toggles div input {
    margin-top: 4px;
    margin-right: 5px;
    height: 18px;
    width: 18px;
}

#apoc6_eq_table caption #about-button {
}

#about {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

#about:target {
	opacity:1;
	pointer-events: auto;
}

#about > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

#apoc6_eq_table thead {
    z-index:1;
    position: -webkit-sticky;
    position: sticky;
    top: 54px;
}

#apoc6_eq_table thead th {
    background: #666;
    color: #eee;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 5px;
}


.apoc6eq tr:nth-child(even) {
    background: #E0E0E0;
}

.apoc6eq tr:hover {
    background: #ddf;
    cursor: pointer;
}


.center, #apoc6_eq_table tr th.center {
    text-align: center;
}

#apoc6_eq_table thead th:first-child {
  left: 0;
  z-index: 1;
  text-align: center;
}

#apoc6_eq_table tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: #aaa;
    color: #000;
/*         border-right: 1px solid #999; */
}


.type, .race {
    display: none;
}

/* 
#apoc6_eq_table tr > *:nth-child(2),
#apoc6_eq_table tr > *:nth-child(7),
#apoc6_eq_table tr > *:nth-child(18),
#apoc6_eq_table tr > *:nth-child(19),
#apoc6_eq_table tr > *:nth-child(24),
#apoc6_eq_table tr > *:nth-child(25),
#apoc6_eq_table tr > *:nth-child(26)
{
    display: none;
}
 */


#apoc6_eq_table tr > *:nth-child(1) { width: 5em; text-align: left; }   /* NAME */
#apoc6_eq_table tr > *:nth-child(2) { width: 1.5em; }                     /* type */
#apoc6_eq_table tr > *:nth-child(3) { width: 0.75em;}                   /* ML */
#apoc6_eq_table tr > *:nth-child(4) { width: 1em;}                    /* SIZE */
#apoc6_eq_table tr > *:nth-child(5) { width: 1.5em;}                    /* SLOT */
#apoc6_eq_table tr > *:nth-child(6) { width: 2em;}                      /* CLASS */
#apoc6_eq_table tr > *:nth-child(7) { width: 2em;}                      /* race */
#apoc6_eq_table tr > *:nth-child(8) { width: 5em; text-align: left; }   /* MAIN STATS */
#apoc6_eq_table tr > *:nth-child(9) { width: 2.5em; }                   /* RESISTS */
#apoc6_eq_table tr > *:nth-child(10) { width: 2em; }                    /* DAMAGES */
#apoc6_eq_table tr > *:nth-child(11) { width: 2em; }                    /* MISC AFFECTS */
#apoc6_eq_table tr > *:nth-child(12) { width: 1em; }                    /* ALIGN FLAGS */
#apoc6_eq_table tr > *:nth-child(13) { width: 1.5em; }                  /* ALIGN RES */
#apoc6_eq_table tr > *:nth-child(14) { width: 1.5em; }                  /* FLAGS */
#apoc6_eq_table tr > *:nth-child(15) { width: .75em; }                  /* AP */
#apoc6_eq_table tr > *:nth-child(16) { width: 1em; }                    /* AVGD */
#apoc6_eq_table tr > *:nth-child(17) { width: 1em; }                    /* DAM TYPE */
#apoc6_eq_table tr > *:nth-child(18) { width: 2em; }                    /* avail sockets */
#apoc6_eq_table tr > *:nth-child(19) { width: 2em; }                    /* req sockets */
#apoc6_eq_table tr > *:nth-child(20) { width: 2em; }                    /* MOB */
#apoc6_eq_table tr > *:nth-child(21) { width: 2em; }                    /* ZONE */
#apoc6_eq_table tr > *:nth-child(22) { width: .75em; }                    /* NOID */
#apoc6_eq_table tr > *:nth-child(23) { width: 2em; }                    /* NOTES */
#apoc6_eq_table tr > *:nth-child(24) { width: 1em; }                    /* weight */
#apoc6_eq_table tr > *:nth-child(25) { width: 1em; }                    /* value */
#apoc6_eq_table tr > *:nth-child(26) { width: 1em; }                    /* rent */



